/* h3 , ul ,li{
    display: inline;
} */
/* Common shared styles*/
body {
    font-family: 'Open Sans', sans-serif;
}

/* nav related styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;

}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border: 0px;
    border-radius: 5px;
    background: #FD6E0A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: Dark 02;
}

/* header related style */
.header {
    background-color: #FFF8F3;

}

.banner {
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;

}
.banner .dp{
    width: 584px;
height: 676px;

}
.banner-content{
    
}